@model IEnumerable<ReportMapping>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3><a asp-action="Create" class="btn btn-primary" style="margin-left:5px">Add Permission To Report</a></h3>
<table class="table table-bordered table-sm table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Bank</th>
            <th>Branch</th>
            <th>Name</th>
            <th>Contact No.</th>
            <th>Report Title</th>
            <th>Report URL</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            <tr>
                <td colspan="7" class="text-center">No Model Data</td>
            </tr>
        }
        else
        {
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.Bank_VW</td>
                    <td>@p.Branch_VW</td>
                    <td>@p.Username</td>
                    <td>@p.ContactNo</td>
                    <td>@p.ReportTitle</td>
                    <td>@p.ReportUrl</td>
                    <td><a asp-action="Edit" asp-route-id="@p.Id"  class="btn btn-primary">Update</a></td>
                    <td>
                        <form asp-action="Edit" method="post" asp-route-id="@p.Id">
                            <button  class="btn btn-primary">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

